.btnMenu{
    line-height: 1.5;
    cursor: pointer;
}

.logoutIcon, .pageName{
    cursor: pointer;
}

// .sideNav{
//     position: absolute;
//     background-color: rgb(11, 88, 160);
//     width: 300px !important;
//     height:calc(100% - 100vh);
//     top:0;
//     left:0;
// }

.mat-toolbar, .mat-sidenav-container{
    position: absolute;
    width: 250px;
    height: 100%;
    // z-index: 2;
}

.pos-abs{
    position: absolute;
}