<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-12">
            <h4>Masters/Trading History</h4>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <button class="mb-2" mat-flat-button color="primary" title="Add Stock" (click)="Add_Edit_Data(null)">
                        <mat-icon>add</mat-icon> Add Stock
                    </button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="stockdetails text-center" style="display:none;height:500px !important; overflow-y: scroll;">
                        <thead>
                            <tr class="bg-color-primary">
                                <th [width]="500">Buy/Sell</th>
                                <th [width]="150">Date</th>
                                <th [width]="175">StockName</th>
                                <th [width]="150">Short Name</th>
                                <th [width]="125">Quantity</th>
                                <th [width]="125">Stock Price</th>
                                <th [width]="125">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="stockData.length == 0">
                                <td colspan="7" class="text-center">
                                    No data avaiable
                                </td>
                            </tr>
                            <tr *ngFor="let items of stockData">
                                <td>{{items.strtrading}}</td>
                                <td>{{items.dtetradedon}}</td>
                                <td>{{items.strstockname}}</td>
                                <td>{{items.strshortname}}</td>
                                <td>{{items.intquantity}}</td>
                                <td>{{items.intstockprice | currency:"INR"}}</td>
                                <td>{{items.intstockprice*items.intquantity | currency:"INR"}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table mat-table [dataSource]="stockData" class="mat-elevation-z8">
                    <!-- matSort matSortActive="strstockname" matSortDisableClear matSortDirection="desc"> -->
                        <ng-container matColumnDef="strtrading">
                            <th mat-header-cell *matHeaderCellDef> Buy/Sell </th>
                            <td mat-cell *matCellDef="let element"> {{element.strtrading}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dtetradedon">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.dtetradedon}} </td>
                        </ng-container>

                        <ng-container matColumnDef="strstockname">
                            <th mat-header-cell *matHeaderCellDef> Stock Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.strstockname}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="strshortname">
                        <th mat-header-cell *matHeaderCellDef> Short Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.strshortname}} </td>
                        </ng-container>
                            
                        <ng-container matColumnDef="intquantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.intquantity}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="intstockprice">
                        <th mat-header-cell *matHeaderCellDef> Stock Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.intstockprice | currency:"INR"}} </td>
                        </ng-container>

                        <ng-container matColumnDef="totalamount">
                        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.intstockprice* element.intquantity | currency:"INR"}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>  
                    
                    <mat-paginator 
                        [length]="stockData.length" 
                        [pageSize]="5" >
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<app-mat-stock-master-dialog 
    (Opened)="onCancel($event)"
    *ngIf="isOpened" 
    [isNew]="isNew" 
    [model]="stockDetails" >
</app-mat-stock-master-dialog> -->