// table, th, td {
    // border: 1px solid black;
//   }

.mat-column-actions{
  width:150px
}

.stockdetails {
  overflow-y: auto;
  height: 110px;
}

.stockdetails thead th {
  background-color: #3f51b5;
  position: sticky;
  top: 0;
}

.mdc-data-table__header-row{
  background-color: #3f51b5;
  color:white;
}

.mat-mdc-table {
  background-color: transparent !important;
  height: calc(100% - 100vh);
}

.mdc-data-table__header-cell, .mdc-data-table__cell{
  color: unset
}